body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('https://wallpaperaccess.com/full/3957931.jpg');
    background-size: cover;       /* Makes the image cover the whole page */
    background-position: center;  /* Centers the image */
    /* background-repeat: no-repeat; */
}

/* .note{
    height:60%;
    width: 20%;
} */


.note-container {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    /* height: 200px;. */
    width: 100%;
    position: absolute;
    bottom: 50px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    animation: slide-up 1s ease-in-out;
}

.note-holder {
    /* align-items: center; */
    /* justify-content: center; */
    height: 200px;
    width: 200px;
    position:absolute
}

.note-holder:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#note1 {
    background-color: yellow;
}

#note2 {
    background-color: orange;
}

#note3 {
    background-color: purple;
}




/* animation */
@keyframes slide-up {
    0%{
        transform: translateY(100%);
    
    }
    100%{
        transform: translateY(0);
    }

}

