body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('https://wallpaperaccess.com/full/3957931.jpg');
    background-size: cover;       /* Makes the image cover the whole page */
    background-position: center;  /* Centers the image */
    /* background-repeat: no-repeat; */
}

/* .note{
    height:60%;
    width: 20%;
} */


.note-container {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    /* height: 200px;. */
    width: 100%;
    /* position: absolute; */
    /* bottom: 50px; */
    align-items: center;
    justify-content: center;
    gap: 50px;
    animation: slide-up 1s ease-in-out;
   position: fixed;
    bottom: 0;
    left: 0;
    /* ...other styles... */
    z-index: 10;
}

.note-holder {
    position: absolute;
    height: 200px;
    width: 200px;
}

.note-holder:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#note1 {
    background-color: yellow;
    position: static; /* Templates stay in flex row */
    cursor: copy;
    z-index: 2;
}

#note2 {
    background-color: orange;
    position: static; /* Templates stay in flex row */
    cursor: copy;
    z-index: 2;
}

#note3 {
    background-color: purple;
    position: static; /* Templates stay in flex row */
    cursor: copy;
    z-index: 2;
}

#trashcan1 {
    position: fixed;
    /* bottom: 20px;
    right: 20px; */
    width: 7%;
    height: 5%;
    cursor: pointer;
}




/* animation */
@keyframes slide-up {
    0%{
        transform: translateY(100%);
    
    }
    100%{
        transform: translateY(0);
    }

}

